<div style="margin: auto; width: 100%; padding: 10px;">
    <!-- Head Title -->
    <br />
    <p align="center" style="color:white">Software Design and Architecture Quiz</p>
    <br />
    <!-- Title -->
    <div class="nes-container with-title is-centered is-dark" style="width: 375px; margin: auto; display: block; text-align: center;">
      <p class="title">QUIZ INFORMATION</p>
      <p style="color:white">Name: <%= @name %> </p>
      <p style="color:white">Quiz: <%= @quizId %> </p>
      <p style="color:white">Score: <%= @score %> </p>
    </div>
    <br />

        <section class="nes-container is-dark">
            <section class="message-list">
                <section class="message -left">
                <i class="nes-bcrikko"></i>
                <!-- Balloon -->
                <div class="nes-balloon from-left is-dark">
                    <p><%= @question %></p>
                </div>
                </section>
                <section class="message -right">
                    <!-- Balloon -->
                    <div class="nes-balloon from-right is-dark">
                    <p><%= @answer %></p>
                    </div>
                </section>
                <% 
                if(@correct)
                %>
                <section class="message -left">
                    <i class="nes-bcrikko"></i>
                    <!-- Balloon -->
                    <div class="nes-balloon from-left is-dark">
                        <p>Your answer is correct!</p>
                    </div>
                </section>
                <%
                else
                %>
                <section class="message -left">
                    <!-- Balloon -->
                    <div class="nes-balloon from-left is-dark">
                        <p>The correct answer is:<br/><br/> <%= @correctAnswer %></p>
                    </div>
                </section>
                <%
                end
                %>
                <button type="button" class="nes-btn is-primary" style="margin: auto; display: block;" onclick="window.location.href='/quiz/<%= @name %>/<%= @quizId %>'">Continue</button>
            </section>
        </section>
    <br />
    <!-- Retry button -->
</div>